:host {
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
}

/* Conteneur global centré */
.forgot-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding-top: 10px;
  max-width: 600px;
  margin: 100px auto 40px auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.forgot-password-container h2 {
  color: #014D88;
  font-family: Inter, sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 100px;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.forgot-password-container p {
  color: #014D88;
  font-family: Akatab, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -60px;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  text-align: center;
}
.subtext {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #014D88;
  margin-bottom: 8px;
  font-weight: 500;
  text-align: center;
}

form input,
form select {
  margin-top: 15px;
  margin-bottom: -30px;
  border-radius: 10px;
  border:#A7A5AAE0 1px solid;
  background: linear-gradient(0deg, rgba(204, 204, 204, 0.05) 0%, rgba(204, 204, 204, 0.05) 100%), #FFF;
  padding: 12px 14px;
  font-size: 15px;
  color: rgba(167, 165, 170, 0.88);
  font-family: Inter, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}
form input::placeholder,
form select::placeholder {
  color: rgba(167, 165, 170, 0.88);
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 1;
}

form input:focus,
form select:focus {
  outline: none;
  border: 1px solid #00c6e6;
  box-shadow: 0 0 0 2px rgba(0, 198, 230, 0.3);
}

form button {
  color: rgba(0, 0, 110, 0.93);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.3s ease;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background: #4AFFFC;
  align-self: center;
  margin-top: 35px;
}


form button:hover {
  background-color: #00c6e6;
}

