<div class="container">
  <div class="left">
    <h2>Unlock New Career Opportunities</h2>
    <h4>Enter Your Credentials</h4>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-group">
        <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        required
        placeholder="Enter your email"
      />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error">
        Email is required and must be valid.
      </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          required
          placeholder="Enter your password"
        />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
          Password is required (min. 6 characters).
        </div>
        <a (click)="goToForgotPassword()" style="cursor: pointer;">Forgot Your Password?</a>
      </div>

      <button type="submit">
        <img src="assets/icons/plane.png" alt="plane icon">
        SIGN IN
      </button>

      <p class="signup-message">
        Don’t Have An Account?
        <a (click)="goToGetStarted()" style="cursor: pointer;" >Sign Up</a>
      </p>

    </form>
  </div>

  <div class="sign-in-right">
    <div class="home-button" (click)="goToHome()">
      <img src="assets/icons/home.png" alt="Home icon" />
      <span>HOME</span>
    </div>
    <img src="assets/images/sign-in.png" alt="sign-in" />
    <div class="overlay">
      <div class="overlay-top">
        <h2>
          Welcome Back to<br>
          <span class="highlighted-title">AIRecruit Community</span>
        </h2>
      </div>
      <div class="overlay-bottom">
        <p>Connecting top candidates with the right opportunities</p>
        <p class="small">While Providing intelligent hiring experience</p>
      </div>
    </div>

  </div>

</div>

