<div class="container">
  <div class="about-section">
    <!-- Image principale à gauche -->
    <div class="image-container">
      <img src="assets/images/about-us.png" alt="About Us Image" class="about-image">
    </div>

    <!-- Contenu texte à droite -->
    <div class="content-container">
      <h2 class="section-title">About Us</h2>
      <h1 class="main-title">One Step To Your Future<br>Starts Here</h1>
      <p class="description">
        Leveraging the power of AI, our platform seamlessly integrates innovation and efficiency to optimize job and internship searches,
        skill matching, and career growth. We bridge the gap between potential and opportunity.
      </p>

      <div class="benefits">
        <div class="benefit-item">
          <img src="assets/icons/check-about.png" alt="Check Icon" class="check-icon">
          <div>
            <h3>Thousands of offers are available</h3>
            <p>We connect talent with the right opportunities, fostering growth, efficiency, and an intelligent hiring experience for both candidates and employers.</p>
          </div>
        </div>
        <div class="benefit-item">
          <img src="assets/icons/check-about.png" alt="Check Icon" class="check-icon">
          <div>
            <h3>The right fit for your skills and aspirations</h3>
            <p>Discover job and internship opportunities that perfectly match your skills and career aspirations.</p>
          </div>
        </div>
      </div>

      <div class="vision-mission">
        <div class="vision-box">
          <img src="assets/images/vision.png" alt="Our Vision" class="vision-image">
        </div>
        <div class="mission-box">
          <img src="assets/images/mission.png" alt="Our Mission" class="mission-image">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="recruitment-section">
    <h2 class="recruitment-title">Recruitment agency operates with<br>effectiveness and precision</h2>
    <p class="recruitment-description">
      Our platform streamlines the recruitment process, offering precision,<br> reliability, and an intelligent approach to talent acquisition.
    </p>
</div>
<div class="host">
  <app-discover></app-discover>
</div>
<div class="Testimonials">
  <div class="testimonials-left">
    <h4>Testimonials</h4>
    <h2>Your Words, Our Pride<br>Your Feedback, Our Motivation</h2>
    <p>Reflections of trust build the foundation of success.</p>

    <div class="feedbacks">
      <img src="assets/images/feedback1.png" alt="Feedback 1" class="feedback-card" />
      <img src="assets/images/feedback2.png" alt="Feedback 2" class="feedback-card" />
    </div>
  </div>

  <div class="testimonials-right">
    <img src="assets/images/comment.png" alt="Happy User" />
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>


